.box__rate {
    background: #858327;
    height: 70px;
    font-size: 36px;
    border: 1px solid white;
}

.box__price {
    background: #d6e96c;
    height: 300px;
    font-size: 100px;
}

.box__rate,
.box__price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}